*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('2.jpeg') no-repeat;
    background-size: cover;
}

.wrapper{
    width: 380px;
    padding: 30px 30px;
    border: 2px solid #6F4E37;
    background: transparent (10, 10, 10, 0.5);   
    backdrop-filter: blur(20px);
    border-radius: 5px; 
}

.wrapper h1{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 20px 0; 
}

.input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 20px 45px 20px 20px;
    font-size: 15px;
    background: transparent;
    border: 2px solid #6F4E37;
    border-radius: 40px; 
}

.input-box input::placeholder{
    color: #0c0000;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14.5px;
    margin-top: -15px 0 15px;
}

.remember-forget label input{
    accent-color: #6F4E37;
    margin-right: 3px; 
}

.remember-forget a{
    color: #6F4E37;
    text-decoration: none;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #6F4E37;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.wrapper .register-link{
    text-align: center;
    margin-top: 20px;
    font-size: 14.5px;
}

.register-link p a{
    color: #6F4E37;
    text-decoration: none;
    font-weight: 600;
}

